# This is Git's per-user configuration file.
[user]
	name = Zhou Yicheng
	email = zhou.yicheng@qq.com
[url "git@github.com:"]
	insteadOf = https://github.com/

[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
